/**
 * ... Per's styles ...
*/
// import all SASS from BT
@import "../node_modules/bootstrap/scss/bootstrap";
/* Colors */
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);
/* My Theme Colors */

// #3c6a2d

// Headings font
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

// vars
$header-height: 10vh; // header height
// $bg-header-footer: #3c6a2d; // $bg-header-footer: $indigo-700;
$bg-header-footer: #133014; // $bg-header-footer: $indigo-700;


// layout elements
body {
  margin: 0;
}

footer {
  color: $light;
  background-color: $bg-header-footer;

  a {
    color: $light;
  }
  a:hover {
    color: $teal-300;
  }
}
// color samples
.colorSamples {
  height: 5rem;
  background: $info; 
}

// headings
h1,
h2,
h3,
h4,
h5,
h6,
{
  color: $purple-900;
  font-family: 'Carter One', cursive;
}

// navigation
#navHeader {
  background-color: $bg-header-footer;
  min-height: 10vh;
}
